@import 'tailwindcss';

:root {
	--primary: #e2d4b7;
	--secondary: #513f32;
	--text: rgba(255, 255, 255, 0.9);
	--textBlack: rgba(0, 0, 0, 0.8);
	--card: #f5e6d3;
	--card2: #8b6f47;
	--card3: #5a8f8e;
	--card4: #6b7d4e;
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--font-display: 'Roboto', sans-serif;
	--color-text: var(--text);
	--color-textBlack: var(--textBlack);
	--color-card: var(--card);
	--color-card2: var(--card2);
	--color-card3: var(--card3);
	--color-card4: var(--card4);
}

@layer components {
	.title {
		@apply text-2xl font-semibold text-textBlack;
	}
	.card {
		@apply bg-card rounded-md p-5 pt-2;
	}
	.input {
		@apply w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-secondary;
	}
}

html,
body,
#root {
	height: 100%;
	margin: 0;
	background-color: var(--primary); /* your desired bg */
}
